{{- range .Values.apps }}
apiVersion: "application.giantswarm.io/v1alpha1"
kind: App
metadata:
  name: "{{ .name }}"
  namespace: "{{ .namespace }}"
  labels:
    app: "{{ .name }}"
    app-operator.giantswarm.io/version: "{{ .version }}"
spec:
  catalog: "{{ .catalog }}"
  name: "{{ .name }}"
  namespace: "{{ .namespace }}"
  {{- if .kubeconfig}}
  kubeConfig:
    inCluster: {{ .kubeconfig.inCluster }}
    {{- if not .kubeconfig.inCluster }}
    secret:
      name: "{{ .kubeconfig.name }}"
      namespace: "{{ .kubeconfig.namespace }}"
    {{- end }}
  {{- end }}
  {{- if .config}}
  version: "{{ .version }}"
  config:
    {{- if .config.configMap }}
    configMap:
      name: "{{ .config.configMap.name }}"
      namespace: "{{ .config.configMap.namespace }}"
    {{- end }}
    {{- if .config.secret }}
    secret:
      name: "{{ .config.secret.name }}"
      namespace: "{{ .config.secret.namespace }}"
    {{- end }}
  {{- end }}
---
{{- end }}
