apiVersion: application.giantswarm.io/v1alpha1
kind: Chart
metadata:
  creationTimestamp: null
  labels:
    chart-operator.giantswarm.io/version: 1.0.0
  name: prometheus
  namespace: default
spec:
  config:
    configMap:
      name: f2def-chart-values
      namespace: f2def
      resourceVersion: ""
    secret:
      name: f2def-chart-values
      namespace: f2def
      resourceVersion: ""
  install:
    skipCRDs: true
  name: prometheus
  namespace: monitoring
  namespaceConfig:
    annotations:
      linkerd.io/inject: enabled
  tarballURL: prometheus-1.0.1.tgz
  version: 1.0.1
