apiVersion: infrastructure.giantswarm.io/v1alpha3
kind: AWSMachineDeployment
metadata:
  annotations:
    giantswarm.io/docs: https://docs.giantswarm.io/reference/cp-k8s-api/awsmachinedeployments.infrastructure.giantswarm.io
  creationTimestamp: null
  labels:
    aws-operator.giantswarm.io/version: 8.7.0
    giantswarm.io/cluster: al9qy
    giantswarm.io/machine-deployment: wk4np
    giantswarm.io/organization: giantswarm
    release.giantswarm.io/version: 11.5.0
  name: wk4np
  namespace: default
spec:
  nodePool:
    description: General purpose worker nodes
    machine:
      dockerVolumeSizeGB: 100
      kubeletVolumeSizeGB: 100
    scaling:
      max: 50
      min: 2
  provider:
    availabilityZones:
    - eu-central-1b
    - eu-central-1c
    instanceDistribution:
      onDemandBaseCapacity: 2
      onDemandPercentageAboveBaseCapacity: 50
    worker:
      instanceType: m5.4xlarge
      useAlikeInstanceTypes: true
