# This file defines ownership of specific parts of the project. Owner teams will automatically get added as reviewers
# for pull requests which are modifying files owned by those teams. See official docs for more information
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners.
#
# Files and directories can be owned by multiple teams, for example:
# path/to/directory/ @giantswarm/team-x @giantswarm/team-y @giantswarm/team-z

###############################################################################
# Cluster API and Cluster API Azure related files owned by:
# - Team Celestial
###############################################################################

# Cluster and AzureCluster CRDs
config/crd/v1/cluster.x-k8s.io_clusters.yaml @giantswarm/team-celestial
config/crd/v1/infrastructure.cluster.x-k8s.io_azureclusters.yaml @giantswarm/team-celestial

# AzureMachine CRD
config/crd/v1/infrastructure.cluster.x-k8s.io_azuremachines.yaml @giantswarm/team-celestial

# MachinePool and AzureMachinePool CRDs
config/crd/v1/exp.cluster.x-k8s.io_machinepools.yaml @giantswarm/team-celestial
config/crd/v1/exp.infrastructure.cluster.x-k8s.io_azuremachinepools.yaml @giantswarm/team-celestial
