version: 2.1

orbs:
  architect: giantswarm/architect@0.7.0

workflows:
  workflow:
    jobs:
      - architect/go-test:
          name: go-test
          filters:
            # Trigger job also on git tag.
            tags:
              only: /^v.*/

      - architect/go-architect-legacy:
          name: go-build
          command: build
          requires:
            - go-test

      - architect/go-architect-legacy:
          name: go-deploy
          command: deploy
          requires:
            - go-build
          filters:
            branches:
              only: master
