
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.4
  creationTimestamp: null
  name: azurecontrolplanes.infrastructure.giantswarm.io
spec:
  group: infrastructure.giantswarm.io
  names:
    kind: AzureControlPlane
    listKind: AzureControlPlaneList
    plural: azurecontrolplanes
    singular: azurecontrolplane
  scope: Namespaced
  versions:
  - name: v1alpha3
    schema:
      openAPIV3Schema:
        description: AzureControlPlane is the infrastructure provider referenced in
          ControlPlane CRs. Represents the master nodes (also called Control Plane)
          of a tenant cluster on Azure. Reconciled by azure-operator.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: Specification part of the resource.
            properties:
              availabilityZones:
                description: Configures which Azure availability zones to use by master
                  nodes, as a list of availability zone names like e. g. `eu-central-1c`.
                  We support either 1 or 3 availability zones.
                items:
                  type: string
                type: array
              instanceType:
                description: EC2 instance type identifier to use for the master node(s).
                type: string
            required:
            - instanceType
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
