apiVersion: "core.giantswarm.io/v1alpha1"
kind: CertConfig
metadata:
  name: "{{.Values.clusterName}}-calico-etcd-client"
  namespace: "default"
  labels:
    clusterID: "{{.Values.clusterName}}"
    clusterComponent: "calico-etcd-client"
spec:
  cert:
    clusterID: "{{.Values.clusterName}}"
    clusterComponent: "calico-etcd-client"
    commonName: "calico.{{.Values.clusterName}}.{{.Values.commonDomain}}"
    altNames:
    ipSans:
    ttl: "720h"
    allowBareDomains: false
    organizations:
  versionBundle:
    version: 0.1.0
