
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.4
  creationTimestamp: null
  name: configs.core.giantswarm.io
spec:
  group: core.giantswarm.io
  names:
    categories:
    - config
    - giantswarm
    kind: Config
    listKind: ConfigList
    plural: configs
    singular: config
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: Config represents configuration of a Management Cluster App.
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: ConfigSpec is the spec part for the Config resource.
          properties:
            app:
              description: App details for which the configuration should be generated.
              properties:
                catalog:
                  description: Catalog is the name of App's App Catalog.
                  type: string
                name:
                  description: Name is the name of the App.
                  type: string
                version:
                  description: Version is the version of the App.
                  type: string
              required:
              - catalog
              - name
              - version
              type: object
          required:
          - app
          type: object
        status:
          description: Spec part of the AWSCluster resource.
          properties:
            cluster:
              description: App details for which the configuration was generated.
              properties:
                catalog:
                  description: Catalog is the name of App's App Catalog.
                  type: string
                name:
                  description: Name is the name of the App.
                  type: string
                version:
                  description: Version is the version of the App.
                  type: string
              required:
              - catalog
              - name
              - version
              type: object
            config:
              description: Config holds the references to the generated configuration.
              properties:
                configMapRef:
                  description: ConfigStatusConfigConfigMapRef contains a reference
                    to the generated ConfigMap.
                  properties:
                    name:
                      type: string
                    namespace:
                      type: string
                  required:
                  - name
                  - namespace
                  type: object
                secretRef:
                  description: ConfigStatusConfigSecretRef contains a reference to
                    the generated Secret.
                  properties:
                    name:
                      type: string
                    namespace:
                      type: string
                  required:
                  - name
                  - namespace
                  type: object
              required:
              - configMapRef
              - secretRef
              type: object
            version:
              description: Version of the giantswarm/config repository used to generate
                the configuration.
              type: string
          type: object
      required:
      - spec
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
