apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.4
  creationTimestamp: null
  name: releases.release.giantswarm.io
spec:
  additionalPrinterColumns:
  - JSONPath: .spec.components[?(@.name=="kubernetes")].version
    description: Version of the kubernetes component in this release
    name: Kubernetes version
    type: string
  - JSONPath: .spec.state
    description: State of the release
    name: State
    type: string
  - JSONPath: .spec.date
    description: Time since release creation
    name: Age
    type: date
  - JSONPath: .status.ready
    description: Whether or not the release is ready
    name: Ready
    type: boolean
  - JSONPath: .status.inUse
    description: Whether or not the release is in use
    name: InUse
    type: boolean
  - JSONPath: .metadata.annotations['giantswarm\.io/release-notes']
    description: Release notes for this release
    name: Release notes
    priority: 1
    type: string
  group: release.giantswarm.io
  names:
    categories:
    - common
    - giantswarm
    kind: Release
    listKind: ReleaseList
    plural: releases
    singular: release
  scope: Cluster
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: Release is a Kubernetes resource (CR) representing a Giant Swarm
        workload cluster release.
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          properties:
            name:
              pattern: ^v(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(-[\.0-9a-zA-Z]*)?$
              type: string
          type: object
        spec:
          properties:
            apps:
              description: Apps describes apps used in this release.
              items:
                properties:
                  catalog:
                    default: default
                    description: Catalog specifies the name of the app catalog that
                      this app belongs to.
                    type: string
                  componentVersion:
                    description: Version of the upstream component used in the app.
                    type: string
                  name:
                    description: Name of the app.
                    type: string
                  version:
                    description: Version of the app.
                    pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$
                    type: string
                required:
                - name
                - version
                type: object
              type: array
            components:
              description: Components describes components used in this release.
              items:
                properties:
                  catalog:
                    default: control-plane-catalog
                    description: Catalog specifies the name of the app catalog that
                      this component belongs to.
                    type: string
                  charts:
                    description: Charts contains a list of the chart names to be deployed
                      for this component.
                    items:
                      type: string
                    type: array
                  name:
                    description: Name of the component.
                    type: string
                  reference:
                    description: Reference is the component's version in the catalog
                      (e.g. 1.2.3 or 1.2.3-abc8675309).
                    type: string
                  releaseOperatorDeploy:
                    description: ReleaseOperatorDeploy informs the release-operator
                      that it should deploy the component.
                    type: boolean
                  uniquePerRelease:
                    description: UniquePerRelease enables deploying a copy of this
                      component per-release version which uses it.
                    type: boolean
                  version:
                    description: Version of the component.
                    pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$
                    type: string
                required:
                - name
                - version
                type: object
              minItems: 1
              type: array
            date:
              description: Date that the release became active.
              format: date-time
              type: string
            endOfLifeDate:
              description: EndOfLifeDate is the date and time when support for a workload
                cluster using this release ends. This may not be set at the time of
                release creation and can be specififed later.
              format: date-time
              nullable: true
              type: string
            state:
              description: 'State indicates the availability of the release: deprecated,
                active, or wip.'
              pattern: ^(active|deprecated|wip)$
              type: string
          required:
          - apps
          - components
          - date
          - state
          type: object
        status:
          properties:
            inUse:
              description: InUse indicates whether a release is actually used by a
                cluster.
              type: boolean
            ready:
              description: Ready indicates if all components of the release have been
                deployed.
              type: boolean
          type: object
      required:
      - metadata
      - spec
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
