
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.4
  creationTimestamp: null
  name: certconfigs.core.giantswarm.io
spec:
  group: core.giantswarm.io
  names:
    categories:
    - common
    - giantswarm
    kind: CertConfig
    listKind: CertConfigList
    plural: certconfigs
    singular: certconfig
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: CertConfig specifies sdetails for an X.509 certificate to be
          issued, handled by cert-operator.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            properties:
              cert:
                description: This part specifies the configurable certificate details.
                properties:
                  allowBareDomains:
                    type: boolean
                  altNames:
                    description: Subject Alternative Names to be set in the certificate.
                    items:
                      type: string
                    nullable: true
                    type: array
                  clusterComponent:
                    description: Host name of the service to create the certificate
                      for.
                    type: string
                  clusterID:
                    description: Workload cluster ID to issue the certificate for.
                    type: string
                  commonName:
                    description: Full common name (CN).
                    type: string
                  disableRegeneration:
                    description: If set, cert-operator will forbid updating this certificate.
                    type: boolean
                  ipSans:
                    description: List of IP addresses to be set as SANs (Subject Alternative
                      Names) in the certificate.
                    items:
                      type: string
                    nullable: true
                    type: array
                  organizations:
                    description: List of organizations to set in the certificate.
                    items:
                      type: string
                    nullable: true
                    type: array
                  ttl:
                    description: Expiry time as a Golang duration string, e. g. "1d"
                      for one day.
                    type: string
                required:
                - allowBareDomains
                - clusterComponent
                - clusterID
                - commonName
                - disableRegeneration
                - ttl
                type: object
              versionBundle:
                description: Specifies the cert-operator version to use.
                properties:
                  version:
                    type: string
                required:
                - version
                type: object
            required:
            - cert
            - versionBundle
            type: object
        required:
        - metadata
        - spec
        type: object
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
